name: CI
on: [push, pull_request]
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [3.8, 3.9, '3.10', '3.11', '3.12', pypy-3.10]
      exclude:
        # https://github.com/pypy/pypy/issues/5027
        - os: windows-latest
          python-version: pypy-3.10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: setup.cfg
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == 'pypy-3.10'
        run: |
          sudo apt update
          sudo apt install libxml2-dev libxslt-dev libgeos-dev
      - run: pip install .[test]
      - name: Test entry point
        run: |
          curl https://raw.githubusercontent.com/open-contracting/infrastructure/0.9-dev/docs/examples/example.json > example.json
          libcoveoc4ids example.json
      - run: coverage run --source=libcoveoc4ids -m pytest -W error
      - uses: coverallsapp/github-action@v2
