name: CI
on: [push, pull_request]
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # libcove doesn't support Windows.
        # https://github.com/OpenDataServices/lib-cove/issues/53
        os: [macos-latest, ubuntu-latest]
        python-version: [3.6, 3.7, 3.8, 3.9, pypy-3.7]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      # https://github.com/actions/cache/blob/main/examples.md#using-a-script-to-get-cache-location
      - id: pip-cache
        run: python -c "from pip._internal.locations import USER_CACHE_DIR; print('::set-output name=dir::' + USER_CACHE_DIR)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: pip install .[test]
      - name: Test
        run: |
          coverage run --append --source=libcoveoc4ids -m pytest
          pip install orjson
          coverage run --append --source=libcoveoc4ids -m pytest
          pip uninstall -y orjson
      - run: curl https://raw.githubusercontent.com/open-contracting/infrastructure/0.9-dev/docs/examples/example.json > example.json
      - run: libcoveoc4ids example.json
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: coveralls --service=github
