name: CI
on: [push, pull_request]
permissions:
  contents: read
jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ['3.10', '3.11', '3.12', '3.13', pypy-3.11]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml
      - if: matrix.os == 'ubuntu-latest' && matrix.python-version == 'pypy-3.11'
        run: |
          sudo apt update
          sudo apt install libxml2-dev libxslt-dev libgeos-dev
      - run: pip install .[test]
      - name: Test entry point
        run: |
          curl https://raw.githubusercontent.com/open-contracting/infrastructure/0.9-dev/docs/examples/example.json > example.json
          libcoveoc4ids example.json
      - run: coverage run --source=libcoveoc4ids -m pytest -W error
      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
